.background{
    background-image: url("https://img.freepik.com/free-vector/colorful-palm-silhouettes-background_52683-39818.jpg?w=900&t=st=1677044410~exp=1677045010~hmac=527a3957c00f7a63d8d4faee12c9bd208b66320ae279d47580d227cd7c01848a");
    height:100vh;
    width: 50vw;
    background-size: cover;
}
.heading{
    color: white;
    font-weight: bold;
    padding: 25px;
    font-family:math;
    font-size: 50px;
}
.card{
    background-color: blanchedalmond;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 15px;
    margin: 24px;
}
.card-heading{
    color: blueviolet;
    font-size: 23px;
    font-family: roboto;
    font-weight: bold;
}
.paragraph{
    font-family: roboto;
    color: cadetblue;
    font-size: medium;
}
.card1{
    padding: 15px;
}